/* Unit editable CSS */

/** Unit Bar background color **/
#ubc7-unit {
   background: #2F5D7C; /* For White on Blue, and Grey on White */
   /* background: #002145; */ /* For Blue on White, and White on Grey */
}

/** Social Icons **/
#ubc7-unit-social-icons i {
    color: #002145;
}

body {
	font-family: Whitney SSm A,Whitney SSm B,Arial,sans-serif;
}

a:link {
    color: #002145;
}

.header {	
	background-color: #002145;
	color: white;
	padding: 30px;
	padding-left: 20px;
	#max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 50px;
	font-size: 2.3em;
	font-weight: bold;
	letter-spacing: 1px;
}

.login {
	color: #002145;
	font-size: 2em;
	font-weight: bold;
	padding: 20px;
}

.maintable {
	padding-top:20px;
	padding-right: 10px;
	padding-left: 10px;
	#margin-right: auto;
	#margin-left: auto;
	width: 100%;
	display: table;
}

.row {
	clear:both;
}

.col {
	#float: left;
	display: table-cell;
	vertical-align:middle;
	width: 50%;
	height: 200px;
}

.l{
	padding:5px;
}

.bold{
	font-weight: bold;
	color: #303030;
}

.divider{
	width: 1%;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: table;
	text-align: center;
}

.rightborder{
	border-right: 1px solid #D7E0E7;
	border-bottom: 0px solid #D7E0E7;
}

@media screen and (max-width:680px) {
	.rightborder{
		border-right: 0px solid #D7E0E7;
		border-bottom: 1px solid #D7E0E7;
	}
}

@media screen and (max-width:680px) {
	.divider {
		display: none;
	}
	.maintable{
		padding-right: 0px;
		padding-left: 0px;
		height: 1200px;
	}
	.col{
		width: 100%;
		float: left;
		height: 250px;
	}
}

@media screen and (max-width:680px) {
	.header {
		font-size: 7vw;
		margin-top: 0px;
		padding: 10px;
		margin-bottom:0px;
	}
	.login {
	}
}

.error_msg{
	color: red;
}

.howtotext{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 25px;
	text-align: left;
}

.col.rightborder {
	vertical-align: top;
	padding-top: 40px;
}